@import url(../css/style-fonts.css);
@import url(../css/style-colors.css);

/* --------------------------------------------------------------------ЗАГОЛОВОК */

.contacts-contacts{
    margin-top: 100px;
    padding-left: 20px;
}

.cont{
    display: flex;
    margin-top: 10px;
}

.cont>img{
    height: var(--first-b-font-size);
}

.info>img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width: 767px){
    .contacts-contacts{
        margin-top: 0;
    }
}